<header>
    <div class="nav-bar">
        <div class="page-title">titre page</div>
        <div class="user-info">
            <div class="badge-success">utiliseateur</div>
            <div><a class="logout-btn" href="">Logout</a></div>
        </div>
    </div>
</header>