img {
    display: block;
    width: 100%;
    height: auto;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem 1rem 280px;
    border-bottom: 1px solid #ddd;
}

.user-info {
    display: flex;
    gap: .5em;
    align-items: center;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 250px;
    border: 1px solid #ddd;
    background-color: #ffffff;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar ul li a {
    display: block;
    padding: 1rem;
    color: #333;
}

.sidebar ul li a:hover {
    background-color: #ddd;
}

.sidebar .brand {
    display: flex;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid #ddd;
}

.stat-icon {
    width: 32px;
}

main {
    padding: 2rem 2rem 2rem 290px;
}


.badge-success::before {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: var(--green);
    border-radius: 100%;
    margin-right: .5em;
}

.badge-success {
    border-radius: 100000px;
    background-color: var(--green-light);
    color: var(--green);
    padding: .5em 1.25em;
}