{% extends "../layouts/public_base.twig" %}
{% block main %}
<div class="auth-layout auth-layout--register">

    <div class="auth-left">
        <img src="/img/angrycat.jpg" alt="Cat">
    </div>

    <div class="auth-right auth-right--centered">
        <a class="auth-logo" href="/"><img src="/img/logo.png" alt="Pawclinic"></a>

        <h1>Mot de passe oublié ?</h1>

        {% if error is defined %}
            <div class="alert-error">{{ error }}</div>
        {% endif %}

        <form action="/forgotpassword" method="POST">
            <div class="form-group">
                <input type="text" name="siret" placeholder="Votre SIRET" required>
            </div>
            <div class="form-group">
                <input type="password" name="password" placeholder="Nouveau mot de passe" required>
            </div>
            <div class="form-group">
                <input type="password" name="passwordConfirm" placeholder="Confirmer nouveau MDP" required>
            </div>
            <button type="submit" class="btn-login">Valider</button>
        </form>
    </div>

</div>
{% endblock %}