{% extends "../layouts/public_base.twig" %}
{% block main %}
<div class="auth-layout">
    <div class="auth-left">
        <img src="/img/dog.jpg" alt="Dog">
        <div class="auth-left-content">
            <p class="auth-left-text">Pas encore inscrit(e) ?</p>
            <p class="auth-left-subtitle">Entrez les informations de votre clinique vétérinaire pour créer votre compte</p>
        </div>
        <a href="/register" class="auth-left-cta">Créer mon compte</a>
    </div>

    <div class="auth-right">

        <h1>Mon compte</h1>
        <a class="auth-logo" href="/"><img src="/img/logo.png" alt="Pawclinic"></a>

        {% if error is defined %}
            <div class="alert-error">{{ error }}</div>
        {% endif %}

        <form action="/login" method="POST">
            <div class="form-group">
                <div class="input-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#1f1f1f"><path d="M234-276q51-39 114-61.5T480-360q69 0 132 22.5T726-276q35-41 54.5-93T800-480q0-133-93.5-226.5T480-800q-133 0-226.5 93.5T160-480q0 59 19.5 111t54.5 93Zm146.5-204.5Q340-521 340-580t40.5-99.5Q421-720 480-720t99.5 40.5Q620-639 620-580t-40.5 99.5Q539-440 480-440t-99.5-40.5ZM480-80q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm100-95.5q47-15.5 86-44.5-39-29-86-44.5T480-280q-53 0-100 15.5T294-220q39 29 86 44.5T480-160q53 0 100-15.5ZM523-537q17-17 17-43t-17-43q-17-17-43-17t-43 17q-17 17-17 43t17 43q17 17 43 17t43-17Zm-43-43Zm0 360Z"/></svg>
                    <input type="text" name="siret" placeholder="Siret" value="111111" required>
                </div>
            </div>
            <div class="form-group">
                <div class="input-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#1f1f1f"><path d="M80-200v-80h800v80H80Zm46-242-52-30 34-60H40v-60h68l-34-58 52-30 34 58 34-58 52 30-34 58h68v60h-68l34 60-52 30-34-60-34 60Zm320 0-52-30 34-60h-68v-60h68l-34-58 52-30 34 58 34-58 52 30-34 58h68v60h-68l34 60-52 30-34-60-34 60Zm320 0-52-30 34-60h-68v-60h68l-34-58 52-30 34 58 34-58 52 30-34 58h68v60h-68l34 60-52 30-34-60-34 60Z"/></svg>
                    <input type="password" name="password" placeholder="Mot de passe" value="azerty3" required>
                </div>
            </div>
            <a href="/forgotpassword" class="forgot">Mot de passe oublié?</a>
            <button type="submit" class="btn-login">Me connecter</button>
        </form>
    </div>

</div>
{% endblock %}